
body {
  background-color: #061a3a;
  color: #ffffff;
}

header {
  background-color: #5d77a3;
}

.greeting {
  text-align: right;
}

nav {
  text-align: center;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

li a {

}
