
body {
  background-color: #061a3a;
  color: #ffffff;
}

h1, h2, h3 {
    font-family: 'Lustria', serif;
    vertical-align: text-bottom;
}

h2 {
    text-align: center;
}

header {
  background-color: #5d77a3;
}

p {
    font-family: 'Pavanam', sans-serif;
}

.greeting {
  text-align: right;
}

nav {
  text-align: center;
  font-size: 30px;
    font-family: 'Pavanam', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
    display: block;
    color: #39afef;
}

li a:hover {
    background-color: #5d77a3;
    color: #ffffff;
}

img {
    width: 400px;
    float: right;
    padding: 0px 20px;
    /* this needs to be deleted later and images need to be replaced with appropriate size */
}


figure>img {
    width: auto;
    display: block;
    margin: auto;
    padding: 20px;
    float: none;
}

figure {
    padding-bottom: 2em
}

figcaption {
    text-align: center;
}

label {
    color: #ffffff;
}

fieldset ul {
    list-style-type: none;
}

input[type='checkbox'] {
    zoom: 4;
}

@media screen and (min-width: 480px) {

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav li {
      display: inline-block;
    }
    
    li a {
        width: 150px;
    }
    
    input[type='checkbox'] {
        zoom: 0;
    }

}
    